<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4">View Product</p>
                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                    <th th:text="${@commonServiceImpl.removeSessionMessage()}"></th>
                </th:block>
                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                    <th th:text="${@commonServiceImpl.removeSessionMessage()}"></th>
                </th:block>

            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">S1 No</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product,index : ${products}">
                        <th scope="row">[[${product.id}]]</th>
                        <td><img th:src="@{'/img/product_img/' + ${product.imageName}}" width="100px" height="100px"/></td>
                        <td>[[${product.title}]]</td>
                        <td >[[${product.category}]]</td>
                        <td >[[${product.price}]]</td>
                        <td >[[${product.stock}]]</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="" ><i class="fa-solid fa-trash"></i> Edit</a>
                            <a class="btn btn-sm btn-danger"  th:href="@{'/admin/deleteProduct/'} + ${product.id}"><i class="fa-solid fa-pen-to-square"></i> Delete</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>